
  <meta charset="UTF-8" />
  <title>Gestion des PV de soutenance</title>
 
<body>
  <div class="pv-container">
    <h1>📄 Gestion des PV de soutenance</h1>

    <div class="pv-list">
      <table>
        <thead>
          <tr>
            <th>Étudiant</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ahmed Ben Ali</td>
            <td>25/04/2025</td>
            <td>En attente</td>
            <td>
              <button class="generate">Générer PDF</button>
              <button class="download">Télécharger</button>
              <button class="print">Imprimer</button>
              <button class="sign">Signer</button>
            </td>
          </tr>
          <tr>
            <td>Salma Trabelsi</td>
            <td>26/04/2025</td>
            <td>Généré</td>
            <td>
                <button class="generate">Générer PDF</button>
              <button class="download">Télécharger</button>
              <button class="print">Imprimer</button>
              <button class="sign signed">Déjà signé</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

