<div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-3 px-3">
        <h5 class="mb-0">Liste des Conférences</h5>
        <div class="form-group mb-0">
          <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchText" style="min-width: 250px" />
        </div>
      </div>
  
      <div class="table-responsive px-3 pb-3">
        <table class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Titre</th>
              <th>Description</th>
              <th>Prix (DT)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let conference of filteredConferences(); let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ conference.title }}</td>
              <td>{{ conference.description | slice:0:50 }}...</td>
              <td>{{ conference.price | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  